body {
  font-family: 'Poppins', sans-serif;
  background: #f6f8fa;
  color: #003366;
  text-align: center;
  margin: 0;
  padding: 0;
}
header {
  background-image: url("https://www.google.com/url?sa=i&url=https%3A%2F%2Fwww.learnchile.cl%2Finstituciones%2Funiversidad-adolfo-ibanez%2F&psig=AOvVaw0peuxvK4nP47TFnrjlaw8P&ust=1762976971744000&source=images&cd=vfe&opi=89978449&ved=0CBUQjRxqFwoTCMiX1pLv6pADFQAAAAAdAAAAABAE"); /* ejemplo, cambia por tu imagen */
  background-size: cover;   /* ajusta la imagen al ancho del header */
  background-position: center; /* centra la imagen */
  color: white;
  text-shadow: 2px 2px 4px rgba(0,0,0,0.6); /* mejora legibilidad */
  padding: 40px 20px;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 50px;
}
.card {
  background: white;
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0,0,0,0.1);
  padding: 20px;
  width: 250px;
  margin-bottom: 20px;
}
.big-number {
  font-size: 3em;
  color: #007bff;
  margin-top: 10px;
}
footer {
  margin-top: 40px;
  font-size: 0.9em;
  color: #555;
}
