body {
  font-family: 'Poppins', sans-serif;
  background: #f6f8fa;
  color: #003366;
  text-align: center;
  margin: 0;
  padding: 0;
}
header {
  background-image: url("https://eventos.cmm.uchile.cl/discretas2025/wp-content/uploads/sites/202/2024/09/uai_vinadelmar_02.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 250px;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  text-shadow: 2px 2px 6px rgba(0,0,0,0.7);
}
header h1 {
  font-size: 2.5em;
  background-color: rgba(0, 0, 0, 0.4);
  padding: 10px 20px;
  border-radius: 10px;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 50px;
}
.card {
  background: white;
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0,0,0,0.1);
  padding: 20px;
  width: 250px;
  margin-bottom: 20px;
}
.big-number {
  font-size: 3em;
  color: #007bff;
  margin-top: 10px;
}
footer {
  margin-top: 40px;
  font-size: 0.9em;
  color: #555;
}
